<h2 [ngClass]="pokemon.types[0].type.name">Evolutions</h2>
<div *ngIf="pokemonEvolutionChain.chain">
  <div *ngIf="loadPokemonEvolutionChain()"></div>
  <div class="evolutionBox" *ngFor="let evolution of chain">

    <div class="pokemon" (click)="redirect(evolution.pokemon1)">
      <div class="imgBx"><img [src]="getFrontDefault(evolution.pokemon1)" alt="{{evolution.pokemon1.name}}"></div>
      <p [ngClass]="pokemon.types[0].type.name">{{getPokemonName(+evolution.pokemon1.url.split('/')[6])}}</p>
    </div>

    <div class="requirementBox">
      <div class="imgBx"><img src="assets/images/arrow.png"></div>

      <div class="requirementList" *ngFor="let evolutionDetails of evolution.evolutionDetails">
        <p *ngIf="evolutionDetails !== evolution.evolutionDetails[0]">OR</p>
        <div class="requirementListItem">

          <div *ngIf="evolutionDetails.gender">
            <p *ngIf="evolutionDetails.gender == 1">♀ female</p>
            <p *ngIf="evolutionDetails.gender == 2">♂ male</p>
          </div>

          <div *ngIf="evolutionDetails.held_item">
            <p [ngClass]="pokemon.types[0].type.name">held item : {{evolutionDetails.held_item.name}}</p>
          </div>

          <div *ngIf="evolutionDetails.item">
            <p [ngClass]="pokemon.types[0].type.name">use item : {{evolutionDetails.item.name}}</p>
          </div>

          <div *ngIf="evolutionDetails.known_move">
            <p [ngClass]="pokemon.types[0].type.name">knowing move : {{evolutionDetails.known_move.name}}</p>
          </div>

          <div *ngIf="evolutionDetails.known_move_type">
            <p [ngClass]="pokemon.types[0].type.name">knowing move type : {{evolutionDetails.known_move_type.name}}</p>
          </div>

          <div *ngIf="evolutionDetails.location">
            <p [ngClass]="pokemon.types[0].type.name">location : {{evolutionDetails.location.name}}</p>
          </div>

          <div *ngIf="evolutionDetails.min_affection">
            <p [ngClass]="pokemon.types[0].type.name">affection : {{evolutionDetails.min_affection}} hearts</p>
          </div>

          <div *ngIf="evolutionDetails.min_beauty">
            <p [ngClass]="pokemon.types[0].type.name">beauty : {{evolutionDetails.min_beauty}}</p>
          </div>

          <div *ngIf="evolutionDetails.min_happiness">
            <p [ngClass]="pokemon.types[0].type.name">happiness : {{evolutionDetails.min_happiness}}</p>
          </div>

          <div *ngIf="evolutionDetails.min_level">
            <p [ngClass]="pokemon.types[0].type.name">level : {{evolutionDetails.min_level}}</p>
          </div>

          <div *ngIf="evolutionDetails.needs_overworld_rain">
            <p [ngClass]="pokemon.types[0].type.name">needs overworld rain</p>
          </div>



          <div *ngIf="evolutionDetails.party_species">
            <p [ngClass]="pokemon.types[0].type.name">with a {{evolutionDetails.party_species.name}} in the party</p>
          </div>

          <div *ngIf="evolutionDetails.party_type">
            <p [ngClass]="pokemon.types[0].type.name">with a {{evolutionDetails.party_type.name}} type pokemon in the party</p>
          </div>

          <div *ngIf="evolutionDetails.relative_physical_stats">
            <p *ngIf="evolutionDetails.relative_physical_stats == 1">Atk &gt; Def</p>
            <p *ngIf="evolutionDetails.relative_physical_stats ==-1">Atk &lt; Def</p>
          </div>

          <div *ngIf="evolutionDetails.time_of_day">
            <p [ngClass]="pokemon.types[0].type.name">during {{evolutionDetails.time_of_day}} time</p>
          </div>

          <div *ngIf="evolutionDetails.trade_species">
            <p [ngClass]="pokemon.types[0].type.name">{{evolutionDetails.trade_species.name}}</p>
          </div>

          <div *ngIf="evolutionDetails.trigger.name == 'trade'">
            <p [ngClass]="pokemon.types[0].type.name">trading</p>
          </div>

          <div *ngIf="evolutionDetails.turn_upside_down">
            <p [ngClass]="pokemon.types[0].type.name">turn upside down</p>
          </div>

          <div *ngIf="evolutionDetails.other">
            <p [ngClass]="pokemon.types[0].type.name">{{evolutionDetails.other}}</p>
          </div>

          <!-- display what cause the evolution -->
          <!--div *ngIf="evolutionDetails.trigger">
            <p [ngClass]="pokemon.types[0].type.name">trigger : {{evolutionDetails.trigger.name}}</p>
          </div-->

        </div>
      </div>

    </div>
    <div class="evolveToBox">
      <div class="pokemon" (click)="redirect(pokemon2)" *ngFor="let pokemon2 of evolution.pokemon2">
        <div class="imgBx"><img [src]="getFrontDefault(pokemon2)" alt="{{pokemon2.name}}"></div>
        <p [ngClass]="pokemon.types[0].type.name">{{getPokemonName(+pokemon2.url.split('/')[6])}}</p>
      </div>
    </div>
  </div>
  <div *ngIf="chain.length == 0">
    <p [ngClass]="pokemon.types[0].type.name">This Pokemon has no evolution</p>
  </div>
</div>

<div *ngIf="this.pokemonForms.length > 0">
<h2 [ngClass]="pokemon.types[0].type.name">Other forms</h2>
  <div class="pokemon" (click)="redirect(pokemon3)" *ngFor="let pokemon3 of this.pokemonForms">
    <div class="imgBx"><img [src]="getFrontDefault(pokemon3)" alt="{{pokemon3.name}}"></div>
    <p [ngClass]="pokemon.types[0].type.name">{{getPokemonName(+pokemon3.url.split('/')[6])}}</p>
  </div>
</div>
