$black    : #1F1F1F;
$midBlack : #353535;
$darkGray : #535353;
$lightGray: #CACACA;
$white    : #F5F5F5;

p.bug{color: $white}p.dark{color: $black}p.dragon{color: $black}p.electric{color: $white}p.fairy{color: $white}p.fighting{color: $white}p.fire{color: $white}p.flying{color: $white}p.ghost{color: $black}p.grass{color: $white}p.ground{color: $white}p.ice{color: $white}p.normal{color: $white}p.poison{color: $black}p.psychic{color: $white}p.rock{color: $white}p.steel{color: $black}p.water{color: $white}

p
{
  text-align: center;
}

.evolutionBox
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.evolutionBox .pokemon
{
  display: flex;
  flex-direction: column;
  cursor: pointer;
}
.evolutionBox .pokemon p
{
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
}

.evolutionBox .requirementBox
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10%;
}
.evolutionBox .requirementBox .imgBx img
{
  width: 50px;
  margin: auto;
  display: block;
}
.evolutionBox .requirementBox .requirementList
{
   padding: 2px;
}
.evolutionBox .requirementBox .requirementList .requirementListItem
{
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 5px 10px;
  border-radius: 15px;
  background: rgba(83,83,83,.2);
  border-left: 1px px solid rgba(83,83,83,.5);
  -webkit-backdrop-filter: blur(5px);
}
.evolutionBox .requirementBox .requirementList .requirementListItem p
{
  margin: auto;
}
