$black    : #1F1F1F;
$midBlack : #353535;
$darkGray : #535353;
$lightGray: #CACACA;
$white    : #F5F5F5;

.flavorTxt
{
  color: $black;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  text-align: justify;
}

//Height and Weight
.sizeBox
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.sizeBox .heightBox, .sizeBox .weightBox
{
  display: flex;
  flex-direction: column;
}
.sizeBox .heightBox p, .sizeBox .weightBox p
{
  text-align: center;
}

//Sprites
.spritesBox
{
  display: flex;
  flex-direction: column;
}
.spritesBox .normalSpriteBox, .spritesBox .shinySpriteBox
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.spritesBox .normalSpriteBox .spriteBox, .spritesBox .shinySpriteBox .spriteBox
{
  display: flex;
  flex-direction: column;
}
.spritesBox .normalSpriteBox .spriteBox h3, .spritesBox .shinySpriteBox .spriteBox h3
{
  text-align: center;
}
.spritesBox .normalSpriteBox .spriteBox .imgBx, .spritesBox .shinySpriteBox .spriteBox .imgBx
{
  display: flex;
  justify-content: space-around;
}

//Gender rates
.genderBox
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.genderBox .maleBox, .genderBox .femaleBox
{
  display: flex;
  flex-direction: column;
}
.genderBox .maleBox p, .genderBox .femaleBox p
{
  text-align: center;
}
