$black    : #1F1F1F;
$midBlack : #353535;
$darkGray : #535353;
$lightGray: #CACACA;
$white    : #F5F5F5;

$bug      : #8CB230;
$dark     : #58575F;
$dragon   : #0F6AC0;
$electric : #FFCE4B;
$fairy    : #FE55A6;
$fighting : #FF3850;
$fire     : #FF8C38;
$flying   : #748FC9;
$ghost    : #556AAE;
$grass    : #39E23F;
$ground   : #DD7748;
$ice      : #61CEC0;
$normal   : #9DA0AA;
$poison   : #9F5BBA;
$psychic  : #EA5D60;
$rock     : #BAAB82;
$steel    : #417D9A;
$water    : #4BC9FF;

$iconbug      : #92BC2C;
$icondark     : #595761;
$icondragon   : #0C69C8;
$iconelectric : #F2D94E;
$iconfairy    : #EE90E6;
$iconfighting : #D3425F;
$iconfire     : #FBA54C;
$iconflying   : #A1BBEC;
$iconghost    : #5F6DBC;
$icongrass    : #5FBD58;
$iconground   : #DA7C4D;
$iconice      : #75D0C1;
$iconnormal   : #A0A29F;
$iconpoison   : #B763CF;
$iconpsychic  : #FA8581;
$iconrock     : #C9BB8A;
$iconsteel    : #5695A3;
$iconwater    : #539DDF;

p.bug{color: $white}p.dark{color: $black}p.dragon{color: $black}p.electric{color: $white}p.fairy{color: $white}p.fighting{color: $white}p.fire{color: $white}p.flying{color: $white}p.ghost{color: $black}p.grass{color: $white}p.ground{color: $white}p.ice{color: $white}p.normal{color: $white}p.poison{color: $black}p.psychic{color: $white}p.rock{color: $white}p.steel{color: $black}p.water{color: $white}

p.method{
  font-size: smaller;
}

p.method.bug{color: $lightGray}p.method.dark{color: $midBlack}p.method.dragon{color: $midBlack}p.method.electric{color: $lightGray}p.method.fairy{color: $lightGray}p.method.fighting{color: $lightGray}p.method.fire{color: $lightGray}p.method.flying{color: $lightGray}p.method.ghost{color: $midBlack}p.method.grass{color: $lightGray}p.method.ground{color: $lightGray}p.method.ice{color: $lightGray}p.method.normal{color: $lightGray}p.method.poison{color: $midBlack}p.method.psychic{color: $lightGray}p.method.rock{color: $lightGray}p.method.steel{color: $midBlack}p.method.water{color: $lightGray}


.typeIcon {
  //margin: 10px;
  border-radius: 100%;
  height: 20px;
  width: 20px;
  min-width: 20px;
}

.typeIcon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.typeIcon.bug{background: $iconbug; box-shadow: 0 0 5px $iconbug;}.typeIcon.dark{background: $icondark; box-shadow: 0 0 5px $icondark;}.typeIcon.dragon{background: $icondragon; box-shadow: 0 0 5px $icondragon;}.typeIcon.electric{background: $iconelectric; box-shadow: 0 0 5px $iconelectric;}.typeIcon.fairy{background: $iconfairy; box-shadow: 0 0 5px $iconfairy;}.typeIcon.fighting{background: $iconfighting; box-shadow: 0 0 5px $iconfighting;}.typeIcon.fire{background: $iconfire; box-shadow: 0 0 5px $iconfire;}.typeIcon.flying{background: $iconflying; box-shadow: 0 0 5px $iconflying;}.typeIcon.ghost{background: $iconghost; box-shadow: 0 0 5px  $iconghost;}.typeIcon.grass{background: $icongrass; box-shadow: 0 0 5px  $icongrass;}.typeIcon.ground{background: $iconground; box-shadow: 0 0 5px $iconground;}.typeIcon.ice{background: $iconice; box-shadow: 0 0 5px $iconice;}.typeIcon.normal{background: $iconnormal; box-shadow: 0 0 5px $iconnormal;}.typeIcon.poison{background: $iconpoison; box-shadow: 0 0 5px $iconpoison;}.typeIcon.psychic{background: $iconpsychic; box-shadow: 0 0 5px $iconpsychic;}.typeIcon.rock{background: $iconrock; box-shadow: 0 0 5px $iconrock;}.typeIcon.steel{background: $iconsteel; box-shadow: 0 0 5px $iconsteel;}.typeIcon.water{background: $iconwater;  box-shadow: 0 0 5px $iconwater;}

.moveTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.moveTable td, .moveTable th {
  border-bottom: 1px solid #ddd;
  padding: 8px;
}

.moveTable tr:has(td):hover {background-color: #CACACA55;}

.moveBox:hover:after,
.moveBox:focus:after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  //top: -2.4em;
  left: 8%;
	transform: translateX(-4%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  //white-space: nowrap;  /* on interdit le retour à la ligne*/
  padding: 5px 14px;
  background: #CACACA99;
  border-radius: 4px;
  font-size: 1.2rem;
}

.moveTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  color: black;
}


.moveTable td p, .moveTable th p{
  word-wrap: break-word;
}

.moveTable th{
  cursor: pointer;
}

.th1-bug p{color: $bug;}.th1-dark p{color: $dark;}.th1-dragon p{color: $dragon;}.th1-electric p{color: $electric;}.th1-fairy p{color: $fairy;}.th1-fighting p{color: $fighting;}.th1-fire p{color: $fire;}.th1-flying p{color: $flying;}.th1-ghost p{color: $ghost;}.th1-grass p{color: $grass;}.th1-ground p{color: $ground;}.th1-ice p{color: $ice;}.th1-normal p{color: $normal;}.th1-poison p{color: $poison;}.th1-psychic p{color: $psychic;}.th1-rock p{color: $rock;}.th1-steel p{color: $steel;}.th1-water p{color: $water;}
.th2-bug p{color: $bug;}.th2-dark p{color: $dark;}.th2-dragon p{color: $dragon;}.th2-electric p{color: $electric;}.th2-fairy p{color: $fairy;}.th2-fighting p{color: $fighting;}.th2-fire p{color: $fire;}.th2-flying p{color: $flying;}.th2-ghost p{color: $ghost;}.th2-grass p{color: $grass;}.th2-ground p{color: $ground;}.th2-ice p{color: $ice;}.th2-normal p{color: $normal;}.th2-poison p{color: $poison;}.th2-psychic p{color: $psychic;}.th2-rock p{color: $rock;}.th2-steel p{color: $steel;}.th2-water p{color: $water;}


@media (max-width: 911px)
{

  .moveTable td, .moveTable th {
    padding: 4px;
  }

  .moveTable th {
    font-size: 0.7em;
  }


  .moveTable td p, .moveTable th p{
    word-wrap: break-word;
    margin: 0 0 5px;
  }

}
