<table class="moveTable">
  <tr>
    <th [ngClass]="'th'+sortedByMoveName+'-'+pokemon.types[0].type.name"  (click)="sortMoveByMove()"><p [ngClass]="pokemon.types[0].type.name">Move</p></th>
    <th [ngClass]="'th'+sortedByPower+'-'+pokemon.types[0].type.name" (click)="sortMoveByPower()"><p [ngClass]="pokemon.types[0].type.name">Power</p></th>
    <th [ngClass]="'th'+sortedByAccuracy+'-'+pokemon.types[0].type.name" (click)="sortMoveByAccuracy()"><p [ngClass]="pokemon.types[0].type.name">Accuracy</p></th>
    <th [ngClass]="'th'+sortedByPP+'-'+pokemon.types[0].type.name" (click)="sortMoveByPP()"><p [ngClass]="pokemon.types[0].type.name">PP</p></th>
    <th [ngClass]="'th'+sortedByCategorie+'-'+pokemon.types[0].type.name" (click)="sortMoveByCategorie()"><p [ngClass]="pokemon.types[0].type.name">Categorie</p></th>
    <th [ngClass]="'th'+sortedByType+'-'+pokemon.types[0].type.name" (click)="sortMoveByType()"><p [ngClass]="pokemon.types[0].type.name">Type</p></th>
  </tr>
  <tr *ngFor="let move of getPokemonMoves()" class="moveBox" attr.aria-label="{{getMoveFlavorText(move.move.url)}}">
    <td>
      <p *ngIf="getMoveName(move.move.url); else elseBlockName" [ngClass]="pokemon.types[0].type.name">{{getMoveName(move.move.url)}}</p>
      <ng-template #elseBlockName>
        <p [ngClass]="pokemon.types[0].type.name">-</p>
      </ng-template>
      <p class="method" *ngIf="move.version_group_details[move.version_group_details.length-1].move_learn_method.name == 'level-up'; else elseBlockLvl" [ngClass]="pokemon.types[0].type.name">Lvl : {{move.version_group_details[move.version_group_details.length-1].level_learned_at}}</p>
      <ng-template #elseBlockLvl>
        <p class="method" [ngClass]="pokemon.types[0].type.name">{{move.version_group_details[move.version_group_details.length-1].move_learn_method.name}}</p>
      </ng-template>
    </td>
    <td>
    <p *ngIf="getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.power; else elseBlockPower" [ngClass]="pokemon.types[0].type.name">{{getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.power}}</p>
      <ng-template #elseBlockPower>
        <p [ngClass]="pokemon.types[0].type.name">-</p>
      </ng-template>
    </td>
    <td>
      <p *ngIf="getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.accuracy; else elseBlockAccuracy" [ngClass]="pokemon.types[0].type.name">{{getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.accuracy}}</p>
      <ng-template #elseBlockAccuracy>
        <p [ngClass]="pokemon.types[0].type.name">-</p>
      </ng-template>
    </td>
    <td>
      <p *ngIf="getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.pp; else elseBlockPp" [ngClass]="pokemon.types[0].type.name">{{getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.pp}}</p>
      <ng-template #elseBlockPp>
        <p [ngClass]="pokemon.types[0].type.name">-</p>
      </ng-template>
    </td>
    <td>
      <p *ngIf="getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.damage_class?.name; else elseBlockDamageClass" [ngClass]="pokemon.types[0].type.name">{{getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.damage_class?.name}}</p>
      <ng-template #elseBlockDamageClass>
        <p [ngClass]="pokemon.types[0].type.name">-</p>
      </ng-template>
    </td>
    <td>
      <div class="typeIcon" *ngIf="getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.type?.name; else elseBlockType"  [ngClass]="getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.type?.name">
        <img src="assets/images/typeIcons/{{getPokemonMoveDetail(getPokemonMoveId(move.move.url))?.type?.name}}.svg"/>
      </div>
      <ng-template #elseBlockType>
        <p [ngClass]="pokemon.types[0].type.name">-</p>
      </ng-template>
    </td>
  </tr>
</table>
