<div class="modal" (click)="hideDetailWindow()"></div>
<div class="modal-content" *ngIf="pokemon.name && pokemonSpecies.flavor_text_entries">
  <div class="backgroundColor" [ngClass]="pokemon.types[0].type.name"></div>
</div>
<div class="content" *ngIf="pokemon.name && pokemonSpecies.flavor_text_entries">
  <span class="close" (click)="hideDetailWindow()">&times;</span>
  <div class="imgBx"><img [src]="getOfficialArtwork()" alt="{{pokemon.name}}"></div>
  <div class="infos pokemonTypeColor" [ngClass]="pokemon.types[0].type.name">
    <div class="title">
      <div class="nameBox backgroundColor" [ngClass]="pokemon.types[0].type.name">
        <h1 [ngClass]="pokemon.types[0].type.name">{{getPokemonName() | titlecase}}</h1>
      </div>
      <p [ngClass]="pokemon.types[0].type.name">#{{getFormatedId(pokemon.id)}} </p>
    </div>
    <div class="types">
      <div class="type" [ngClass]="type.type.name" *ngFor="let type of pokemon.types">
        <div class="typeIcon">
          <img src="assets/images/typeIcons/{{type.type.name}}.svg"/>
        </div>
        <p [ngClass]="type.type.name">{{getPokemonType(+type.type.url.split('/')[6])}}</p>
      </div>
    </div>
    <div class="tabBox" [ngClass]="pokemon.types[0].type.name">
      <button class="tabBtn" [ngClass]="tabActive[0]" (click)="setActiveTab(0)">About</button>
      <button class="tabBtn" [ngClass]="tabActive[1]" (click)="setActiveTab(1)">Stats</button>
      <button class="tabBtn" [ngClass]="tabActive[2]" (click)="setActiveTab(2)">Evolution</button>
      <button class="tabBtn" [ngClass]="tabActive[3]" (click)="setActiveTab(3)">Moves</button>
      <div class="line"></div>
    </div>
    <div class="infoContentBox">

      <div class="infoContent" [ngClass]="tabActive[0]">
        <app-pokemon-about-tab [pokemon]="pokemon" [pokemonSpecies]="pokemonSpecies"></app-pokemon-about-tab>
      </div>

      <div class="infoContent" [ngClass]="tabActive[1]">
        <app-pokemon-stat-tab [pokemon]="pokemon" [pokemonSpecies]="pokemonSpecies" [pokemonAbilities]="pokemonAbilities"></app-pokemon-stat-tab>
      </div>

      <div class="infoContent" [ngClass]="tabActive[2]">
        <app-pokemon-evolution-tab [pokemon]="pokemon" [pokemonEvolutionChain]="pokemonEvolutionChain"></app-pokemon-evolution-tab>
      </div>

      <div class="infoContent" [ngClass]="tabActive[3]">
        <app-pokemon-move-tab [pokemon]="pokemon" [pokemonMoves]="pokemonMoves"></app-pokemon-move-tab>
      </div>

    </div>
  </div>
</div>
