$black    : #1F1F1F;
$midBlack : #353535;
$darkGray : #535353;
$lightGray: #CACACA;
$white    : #F5F5F5;

$bug      : #8CB230;
$dark     : #58575F;
$dragon   : #0F6AC0;
$electric : #FFCE4B;
$fairy    : #FE55A6;
$fighting : #FF3850;
$fire     : #FF8C38;
$flying   : #748FC9;
$ghost    : #556AAE;
$grass    : #39E23F;
$ground   : #DD7748;
$ice      : #61CEC0;
$normal   : #9DA0AA;
$poison   : #9F5BBA;
$psychic  : #EA5D60;
$rock     : #BAAB82;
$steel    : #417D9A;
$water    : #4BC9FF;

$iconbug      : #92BC2C;
$icondark     : #595761;
$icondragon   : #0C69C8;
$iconelectric : #F2D94E;
$iconfairy    : #EE90E6;
$iconfighting : #D3425F;
$iconfire     : #FBA54C;
$iconflying   : #A1BBEC;
$iconghost    : #5F6DBC;
$icongrass    : #5FBD58;
$iconground   : #DA7C4D;
$iconice      : #75D0C1;
$iconnormal   : #A0A29F;
$iconpoison   : #B763CF;
$iconpsychic  : #FA8581;
$iconrock     : #C9BB8A;
$iconsteel    : #5695A3;
$iconwater    : #539DDF;

/* The Modal (black background) */
.modal {
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  //overflow: auto; /* Enable scroll if needed */
  //background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content */
.modal-content, .modal-content .backgroundColor{
  height:100vh;
  z-index: 31; /* Sit on top */
  margin: auto;
  /*min-width: 30%;
  max-width: 500px;*/
  width: 30rem;
  max-width: 100%;
  position: absolute;
  top: 0;left: 0;right: 0;


  box-shadow: 20px 20px 50px #0000001a;
  border-radius: 15px;
  border-top: 1px solid rgba(83,83,83,.5);
  border-left: 1px px solid rgba(83,83,83,.5);
}
.modal-content
{
  background-image: url("/assets/images/pokeballBackground.jpg");
  background-size: contain;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}
/*Modal Content background colors */
.modal-content .backgroundColor{
    opacity: 0.5;
}
.backgroundColor.bug{background: $bug;}.backgroundColor.dark{background: $dark;}.backgroundColor.dragon{background: $dragon;}.backgroundColor.electric{background: $electric;}.backgroundColor.fairy{background: $fairy;}.backgroundColor.fighting{background: $fighting;}.backgroundColor.fire{background: $fire;}.backgroundColor.flying{background: $flying;}.backgroundColor.ghost{background: $ghost;}.backgroundColor.grass{background: $grass;}.backgroundColor.ground{background: $ground;}.backgroundColor.ice{background: $ice;}.backgroundColor.normal{background: $normal;}.backgroundColor.poison{background: $poison;}.backgroundColor.psychic{background: $psychic;}.backgroundColor.rock{background: $rock;}.backgroundColor.steel{background: $steel;}.backgroundColor.water{background: $water;}
.pokemonTypeColor.bug{border-top: 5px solid $bug;}.pokemonTypeColor.dark{border-top: 5px solid $dark;}.pokemonTypeColor.dragon{border-top: 5px solid $dragon;}.pokemonTypeColor.electric{border-top: 5px solid $electric;}.pokemonTypeColor.fairy{border-top: 5px solid $fairy;}.pokemonTypeColor.fighting{border-top: 5px solid $fighting;}.pokemonTypeColor.fire{border-top: 5px solid $fire;}.pokemonTypeColor.flying{border-top: 5px solid $flying;}.pokemonTypeColor.ghost{border-top: 5px solid $ghost;}.pokemonTypeColor.grass{border-top: 5px solid $grass;}.pokemonTypeColor.ground{border-top: 5px solid $ground;}.pokemonTypeColor.ice{border-top: 5px solid $ice;}.pokemonTypeColor.normal{border-top: 5px solid $normal;}.pokemonTypeColor.poison{border-top: 5px solid $poison;}.pokemonTypeColor.psychic{border-top: 5px solid $psychic;}.pokemonTypeColor.rock{border-top: 5px solid $rock;}.pokemonTypeColor.steel{border-top: 5px solid $steel;}.pokemonTypeColor.water{border-top: 5px solid $water;}

/* The Close Button */
.close {
  position: fixed;
  color: white;
  float: left;
  font-size: 40px;
  font-weight: bold;
  padding: 15px;
  color: $black;
  cursor: pointer;
}

//Content
.content
{
  display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 32; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

  height:100vh;
  margin: auto;
  width: 30rem;
  max-width: 100%;
  position: absolute;
  top: 0;left: 0;right: 0;

  //remove scrollbar
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
//remove scrollbar
.content::-webkit-scrollbar {
  display: none;
}


.content .imgBx img
{
  display: block;
  z-index: 33; /* Sit on top */
  margin-top: 3rem;
  margin: 30px auto auto auto;
  width: 70%;
}

.types{
  display: flex;
  flex-direction: row;
  padding-top: 5px;
}

.types .type{
  display: flex;
  flex-direction: row;
  border-radius: 50px;
  font-size: 1.2rem;
  text-align: center;
  align-items: center;
  padding-left: 10px;
  margin-left: 5px;
}

.types .type p{
  margin: 6px 20px 6px 0;
}

.types .type .typeIcon {
    margin-right: 5px;
    border-radius: 100%;
    height: 20px;
    width: 20px;
}

.types .type .typeIcon img {
    height: 60%;
    width: 60%;
    margin: 20%;
}

.type.bug{background: $iconbug; box-shadow: 0 0 5px $iconbug;}.type.dark{background: $icondark; box-shadow: 0 0 5px $icondark;}.type.dragon{background: $icondragon; box-shadow: 0 0 5px $icondragon;}.type.electric{background: $iconelectric; box-shadow: 0 0 5px $iconelectric;}.type.fairy{background: $iconfairy; box-shadow: 0 0 5px $iconfairy;}.type.fighting{background: $iconfighting; box-shadow: 0 0 5px $iconfighting;}.type.fire{background: $iconfire; box-shadow: 0 0 5px $iconfire;}.type.flying{background: $iconflying; box-shadow: 0 0 5px $iconflying;}.type.ghost{background: $iconghost; box-shadow: 0 0 5px  $iconghost;}.type.grass{background: $icongrass; box-shadow: 0 0 5px  $icongrass;}.type.ground{background: $iconground; box-shadow: 0 0 5px $iconground;}.type.ice{background: $iconice; box-shadow: 0 0 5px $iconice;}.type.normal{background: $iconnormal; box-shadow: 0 0 5px $iconnormal;}.type.poison{background: $iconpoison; box-shadow: 0 0 5px $iconpoison;}.type.psychic{background: $iconpsychic; box-shadow: 0 0 5px $iconpsychic;}.type.rock{background: $iconrock; box-shadow: 0 0 5px $iconrock;}.type.steel{background: $iconsteel; box-shadow: 0 0 5px $iconsteel;}.type.water{background: $iconwater;  box-shadow: 0 0 5px $iconwater;}


.content .infos
{
  z-index: 32; /* Sit on top */
  bottom: 0;
  min-height: 78vh;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.1);
  //border-radius: 15px;
  //background: rgba(245, 245, 245, 0.2);
  display: flex;
  flex-direction: column;
  //align-items: center;
  //border-top: 1px solid rgba(245, 245, 245, 0.5);
  //border-left: 1px solid rgba(245, 245, 245, 0.5);
  backdrop-filter: blur(5px);
  border-radius: 0 15px 15px 15px;
}

.infos.pokemonTypeColor.bug{background: #00000050;}.infos.pokemonTypeColor.dark{background: #FFFFFF50;}.infos.pokemonTypeColor.dragon{background: #FFFFFF50;}.infos.pokemonTypeColor.electric{background: #00000050;}.infos.pokemonTypeColor.fairy{background: #00000050;}.infos.pokemonTypeColor.fighting{background: #00000050;}.infos.pokemonTypeColor.fire{background: #00000050;}.infos.pokemonTypeColor.flying{background: #00000050;}.infos.pokemonTypeColor.ghost{background: #FFFFFF50;}.infos.pokemonTypeColor.grass{background: #50505080;}.infos.pokemonTypeColor.ground{background: #00000050;}.infos.pokemonTypeColor.ice{background: #00000050;}.infos.pokemonTypeColor.normal{background: #00000050;}.infos.pokemonTypeColor.poison{background: #FFFFFF50;}.infos.pokemonTypeColor.psychic{background: #00000050;}.infos.pokemonTypeColor.rock{background: #00000050;}.infos.pokemonTypeColor.steel{background: #FFFFFF50;}.infos.pokemonTypeColor.water{background: #00000050;}

p.bug{color: $white}p.dark{color: $black}p.dragon{color: $black}p.electric{color: $white}p.fairy{color: $white}p.fighting{color: $white}p.fire{color: $white}p.flying{color: $white}p.ghost{color: $black}p.grass{color: $white}p.ground{color: $white}p.ice{color: $white}p.normal{color: $white}p.poison{color: $black}p.psychic{color: $white}p.rock{color: $white}p.steel{color: $black}p.water{color: $white}
.bug .tabBtn{color: $white}.dark .tabBtn{color: $black}.dragon .tabBtn{color: $black}.electric .tabBtn{color: $white}.fairy .tabBtn{color: $white}.fighting .tabBtn{color: $white}.fire .tabBtn{color: $white}.flying .tabBtn{color: $white}.ghost .tabBtn{color: $black}.grass .tabBtn{color: $white}.ground .tabBtn{color: $white}.ice .tabBtn{color: $white}.normal .tabBtn{color: $white}.poison .tabBtn{color: $black}.psychic .tabBtn{color: $white}.rock .tabBtn{color: $white}.steel .tabBtn{color: $black}.water .tabBtn{color: $white}
.bug .tabBtn.active{color: $bug;}.dark .tabBtn.active{color: $dark;}.dragon .tabBtn.active{color: $dragon;}.electric .tabBtn.active{color: $electric;}.fairy .tabBtn.active{color: $fairy;}.fighting .tabBtn.active{color: $fighting;}.fire .tabBtn.active{color: $fire;}.flying .tabBtn.active{color: $flying;}.ghost .tabBtn.active{color: $ghost;}.grass .tabBtn.active{color: $grass;}.ground .tabBtn.active{color: $ground;}.ice .tabBtn.active{color: $ice;}.normal .tabBtn.active{color: $normal;}.poison .tabBtn.active{color: $poison;}.psychic .tabBtn.active{color: $psychic;}.rock .tabBtn.active{color: $rock;}.steel .tabBtn.active{color: $steel;}.water .tabBtn.active{color: $water;}

.type p.bug{color: $black}.type p.dark{color: $white}.type p.dragon{color: $white}.type p.electric{color: $black}.type p.fairy{color: $black}.type p.fighting{color: $black}.type p.fire{color: $black}.type p.flying{color: $black}.type p.ghost{color: $white}.type p.grass{color: $black}.type p.ground{color: $black}.type p.ice{color: $black}.type p.normal{color: $black}.type p.poison{color: $white}.type p.psychic{color: $black}.type p.rock{color: $black}.type p.steel{color: $white}.type p.water{color: $black}

h1.bug{color: $black}h1.dark{color: $white}h1.dragon{color: $white}h1.electric{color: $black}h1.fairy{color: $black}h1.fighting{color: $black}h1.fire{color: $black}h1.flying{color: $black}h1.ghost{color: $white}h1.grass{color: $black}h1.ground{color: $black}h1.ice{color: $black}h1.normal{color: $black}h1.poison{color: $white}h1.psychic{color: $black}h1.rock{color: $black}h1.steel{color: $white}h1.water{color: $black}


.content .infos .title
{
  display: flex;
  flex-direction: row;
}


//Pokemon name
.content .infos .title .nameBox
{
  border-radius: 0 50px 50px 0;
  width: fit-content;
  min-width: 40%;
  height: 45px;
  padding: 5px;
  margin-top: -2px;
  margin-left: -1px;
}

.content .infos .title .nameBox h1
{
  font-size: 1.4rem;
  font-weight: 600;
  //text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

//Pokemon ID
.content .infos .title>p
{
  font-size: 1.2rem;
  font-weight: 100;
  margin: 10px 25px;
  width: 100%;
  text-align: end;
}

//Pokemon informations tabs
.tabBox
{
  //margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid $darkGray;
  position: relative;
}
.tabBox .tabBtn
{
  font-size: 1.1rem;
  font-weight: 600;
  //color: $midBlack;
  background: none;
  border: none;
  padding: 18px;
  cursor: pointer;
}
.tabBox .tabBtn.active{
  font-size: 1.2rem;
  font-weight: 650;
  //color: $black;
}
.line{
  position: absolute;
  top: 58px;
  left: 1%;
  width: 90px;
  height: 5px;
  background-color: $black;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  display: none;
}
.infoContentBox
{
  padding: 20px;
}
.infoContentBox .infoContent
{
  display: none;
  animation: moving .5s ease;
}
@keyframes moving{
  from{transform : translateX(50px);opacity: 0;}
  to{transform : translateX(0px);opacity: 1;}
}
.infoContentBox .infoContent.active
{
  display: block;
}
.infoContentBox .infoContent h2
{
  margin-bottom: 10px;
}

@media (max-width: 1000px)
{
  .content .infos .title .nameBox h1
  {
    font-size: 1.1rem;
    font-weight: 600;
  }
  .content .imgBx img
  {
    width: 50%;
  }
  .typeBox .type h1
  {
    font-size: 1.1em;
  }
  .tabBox .tabBtn
  {
    font-size: .9rem;
    font-weight: 550;
  }
  .tabBox .tabBtn.active{
    font-size: 1rem;
    font-weight: 600;
  }
}
