<div class="modal" (click)="hideDetailWindow()"></div>
<div class="modal-content" *ngIf="pokemon.name">
  <div class="backgroundColor" [ngClass]="pokemon.types[0].type.name"></div>
</div>
<div class="content" *ngIf="pokemon.name">
  <div class="imgBx"><img [src]="pokemon.sprites.front_default" alt="{{pokemon.name}}"></div>
  <div class="infos">
    <div class="title">
      <div class="nameBox backgroundColor" [ngClass]="pokemon.types[0].type.name">
        <h1>{{pokemon.name}}</h1>
      </div>
      <h1>#{{pokemon.id}}</h1>
    </div>
  </div>
</div>
