$black: #1F1F1F;
$midBlack: #353535;
$darkGray: #535353;
$lightGray: #CACACA;
$white: #F5F5F5;

.card
{
  position: relative;
  width: 210px;
  height: 300px;
  margin: 10px;
  box-shadow: 20px 20px 50px rgba(0,0,0,0.1);
  border-radius: 15px;
  background: rgba(245, 245, 245, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(245, 245, 245, 0.5);
  border-left: 1px solid rgba(245, 245, 245, 0.5);
  backdrop-filter: blur(5px);

  overflow: hidden;
}

.card .content
{
  padding: 20px;
  text-align: center;
}

.card .content .imgBxLogo img
{
  display: block;
  position: fixed;
  top: 60%;
  left: 40%;
  width: 70%;
  z-index: -1;
  opacity: 0.5;
}

.card .content h2
{
  position: absolute;
  top: 20px;
  right: 0.25em;
  font-size: 5em;
  color: rgba(31, 31, 31, 0.2);
  pointer-events: none;
}

.card .content .contentBx h3
{
  font-size: 1.3em;
  color: #1F1F1F;
  z-index: 1;
  text-transform: uppercase;
}

.card .content .imgBx
{
  position: relative;
  width: 150px;
  height: 150px;
  overflow: hidden;
}

.card:hover .content .imgBx {
    height: 13em !important;
    width: 13em !important;
    transition: all 0.2s ease-out;
}

.card .content .imgBx img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


//RESPONSIVE
/*
@media (max-width: 1000px)
{
  .card
  {
    width: 184px;
    height: 260px;
    margin: 6px;
  }

  .card .content h2
  {
    top: 0px;
    right: 26px;
    font-size: 5.4em;
  }

  .card .content .contentBx h3
  {
    font-size: 0.7em;
  }

  .card .content .imgBx
  {
    width: 120px;
    height: 120px;
  }
 }
*/

  @media (max-width: 1000px)
  {
    .card
    {
      width: 91px;
      height: 130px;
      margin: 3px;

      //TODO PHONE ONLY
      box-shadow: none;
      background: $midBlack;
    border-top: 1px solid $darkGray;
    border-left: 1px solid $darkGray;
    }

    .card .content h2
    {
      top: 0px;
      right: 0.15em;
      font-size: 2.5em;

      //TODO PHONE ONLY
      color: $black;
    }

    .card .content .contentBx h3
    {
      font-size: 0.7em;
      font-weight: 900;
    }

    .card .content .imgBx
    {
      width: 60px;
      height: 60px;
    }
    .card:hover .content .imgBx {
      //Remove animation
      width: 60px !important;
      height: 60px !important;
      transition: none;
    }
  }

