<header class = "{{navigationClass}}">
  <a href="home" class="logo"><img src="assets/images/logoPokeballWhite.png"></a>
  <div class="{{menuClass}}" (click)="toggleMenu()"></div>
  <nav>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="pokedex">Pokedex</a></li>
      <li><a href="item">Items</a></li>
      <li><a>Language {{countryCode}}<b>▼</b></a>
        <ul>
          <li><a (click)="setLanguage('en')">English (English)</a></li>
          <li><a (click)="setLanguage('fr')">Francais (French)</a></li>
          <li><a (click)="setLanguage('ja')">日本人 (Japanese)</a></li>
          <li><a (click)="setLanguage('ko')">한국인 (Korean)</a></li>
          <li><a (click)="setLanguage('zh')">中国人 (Chinese)</a></li>
          <li><a (click)="setLanguage('de')">Deutsch (German)</a></li>
          <li><a (click)="setLanguage('es')">Española (Spanish)</a></li>
          <li><a (click)="setLanguage('it')">Italiano (Italian)</a></li>
          <!--li><a (click)="setLanguage('cs')">čeština (Czech)</a></li>
          <li><a (click)="setLanguage('pt-BR')">Português (Portuguese)</a></li-->
        </ul>
      </li>
      <!--li><a>Dropdown <b>▼</b></a>
        <ul>
          <li><a href="#">Dopdown1</a></li>
          <li><a href="#">Dopdown2</a></li>
          <li><a href="#">Dopdown3</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
      <li><a>Dropdown <b>▼</b></a>
        <ul>
          <li><a href="#">Dopdown1</a></li>
          <li><a href="#">Dopdown2</a></li>
          <li><a href="#">Dopdown3</a></li>
        </ul>
      </li-->
    </ul>
  </nav>
</header>
