<header class = "{{navigationClass}}">
  <a href="home" class="logo"><img src="assets/images/logoPokeballWhite.png"></a>
  <div class="{{menuClass}}" (click)="toggleMenu()"></div>
  <nav>
    <ul>
      <li><a href="home">Home</a></li>
      <li><a href="pokedex">Pokedex</a></li>
      <li><a href="item">Items</a></li>
      <li><a>Language {{countryCode}}<b>▼</b></a>
        <ul>
          <li><a (click)="setLanguage('en')">English (English)</a></li>
          <li><a (click)="setLanguage('fr')">Francais (French)</a></li>
        </ul>
      </li>
      <!--li><a>Dropdown <b>▼</b></a>
        <ul>
          <li><a href="#">Dopdown1</a></li>
          <li><a href="#">Dopdown2</a></li>
          <li><a href="#">Dopdown3</a></li>
        </ul>
      </li>
      <li><a href="#">Contact</a></li>
      <li><a>Dropdown <b>▼</b></a>
        <ul>
          <li><a href="#">Dopdown1</a></li>
          <li><a href="#">Dopdown2</a></li>
          <li><a href="#">Dopdown3</a></li>
        </ul>
      </li-->
    </ul>
  </nav>
</header>
