<div class="stats">
  <h2>Statistics</h2>
  <div class="stats-container">
    <div class="stats-wrapper">
      <h3>HP</h3>
      <h3>{{pokemon.stats[0].base_stat}}</h3>
      <div class="progressBar">
        <div class="percent">
          <div class="progress backgroundColor" style="width: {{pokemon.stats[0].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
        </div>
      </div>
    </div>
    <div class="stats-wrapper">
      <h3>ATK</h3>
      <h3>{{pokemon.stats[1].base_stat}}</h3>
      <div class="progressBar">
        <div class="percent">
          <div class="progress backgroundColor" style="width: {{pokemon.stats[1].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
        </div>
      </div>
    </div>
    <div class="stats-wrapper">
      <h3>DEF</h3>
      <h3>{{pokemon.stats[2].base_stat}}</h3>
      <div class="progressBar">
        <div class="percent">
          <div class="progress backgroundColor" style="width: {{pokemon.stats[2].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
        </div>
      </div>
    </div>
    <div class="stats-wrapper">
      <h3>SATK</h3>
      <h3>{{pokemon.stats[3].base_stat}}</h3>
      <div class="progressBar">
        <div class="percent">
          <div class="progress backgroundColor" style="width: {{pokemon.stats[3].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
        </div>
      </div>
    </div>
    <div class="stats-wrapper">
      <h3>SDEF</h3>
      <h3>{{pokemon.stats[4].base_stat}}</h3>
      <div class="progressBar">
        <div class="percent">
          <div class="progress backgroundColor" style="width: {{pokemon.stats[4].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
        </div>
      </div>
    </div>
    <div class="stats-wrapper">
      <h3>SPD</h3>
      <h3>{{pokemon.stats[5].base_stat}}</h3>
      <div class="progressBar">
        <div class="percent">
          <div class="progress backgroundColor" style="width: {{pokemon.stats[5].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
        </div>
      </div>
    </div>
  </div>
</div>
