<h2 [ngClass]="pokemon.types[0].type.name">Abilities</h2>
<div class="abilitiesBox" *ngIf="pokemon.abilities">
  <div class="abilityBox" *ngFor="let ability of pokemon.abilities" (click)="updateAbilityEffect(ability)">
    <p [ngClass]="pokemon.types[0].type.name">{{getAbilityName(ability)}}</p>
    <!--p *ngIf="ability.is_hidden" class="hiddenAbility" [ngClass]="pokemon.types[0].type.name">(hidden)</p-->
    <img *ngIf="ability.is_hidden" class="hiddenAbility" [ngClass]="pokemon.types[0].type.name" src="assets/images/hidden.png"/>
  </div>
</div>
<p [ngClass]="pokemon.types[0].type.name">{{abilityEffect}}</p>
<h2 class="color" [ngClass]="pokemon.types[0].type.name">STATS</h2>
<div class="statsContent">
  <div class="stats">
    <div class="stats-container">
      <div class="stats-wrapper">
        <p [ngClass]="pokemon.types[0].type.name">HP</p>
        <p [ngClass]="pokemon.types[0].type.name">{{pokemon.stats[0].base_stat}}</p>
        <div class="progressBar">
          <div class="percent">
            <div class="progress backgroundColor" style="width: {{pokemon.stats[0].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
          </div>
        </div>
      </div>
      <div class="stats-wrapper">
        <p [ngClass]="pokemon.types[0].type.name">ATK</p>
        <p [ngClass]="pokemon.types[0].type.name">{{pokemon.stats[1].base_stat}}</p>
        <div class="progressBar">
          <div class="percent">
            <div class="progress backgroundColor" style="width: {{pokemon.stats[1].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
          </div>
        </div>
      </div>
      <div class="stats-wrapper">
        <p [ngClass]="pokemon.types[0].type.name">DEF</p>
        <p [ngClass]="pokemon.types[0].type.name">{{pokemon.stats[2].base_stat}}</p>
        <div class="progressBar">
          <div class="percent">
            <div class="progress backgroundColor" style="width: {{pokemon.stats[2].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
          </div>
        </div>
      </div>
      <div class="stats-wrapper">
        <p [ngClass]="pokemon.types[0].type.name">SATK</p>
        <p [ngClass]="pokemon.types[0].type.name">{{pokemon.stats[3].base_stat}}</p>
        <div class="progressBar">
          <div class="percent">
            <div class="progress backgroundColor" style="width: {{pokemon.stats[3].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
          </div>
        </div>
      </div>
      <div class="stats-wrapper">
        <p [ngClass]="pokemon.types[0].type.name">SDEF</p>
        <p [ngClass]="pokemon.types[0].type.name">{{pokemon.stats[4].base_stat}}</p>
        <div class="progressBar">
          <div class="percent">
            <div class="progress backgroundColor" style="width: {{pokemon.stats[4].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
          </div>
        </div>
      </div>
      <div class="stats-wrapper">
        <p [ngClass]="pokemon.types[0].type.name">SPD</p>
        <p [ngClass]="pokemon.types[0].type.name">{{pokemon.stats[5].base_stat}}</p>
        <div class="progressBar">
          <div class="percent">
            <div class="progress backgroundColor" style="width: {{pokemon.stats[5].base_stat/2}}%;" [ngClass]="pokemon.types[0].type.name"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
