$black    : #1F1F1F;
$midBlack : #353535;
$darkGray : #535353;
$lightGray: #CACACA;
$white    : #F5F5F5;

$bug      : #8CB230;
$dark     : #58575F;
$dragon   : #0F6AC0;
$electric : #FFCE4B;
$fairy    : #FE55A6;
$fighting : #FF3850;
$fire     : #FF8C38;
$flying   : #748FC9;
$ghost    : #556AAE;
$grass    : #39E23F;
$ground   : #DD7748;
$ice      : #61CEC0;
$normal   : #9DA0AA;
$poison   : #9F5BBA;
$psychic  : #EA5D60;
$rock     : #BAAB82;
$steel    : #417D9A;
$water    : #4BC9FF;

.backgroundColor.bug{background: $bug;}.backgroundColor.dark{background: $dark;}.backgroundColor.dragon{background: $dragon;}.backgroundColor.electric{background: $electric;}.backgroundColor.fairy{background: $fairy;}.backgroundColor.fighting{background: $fighting;}.backgroundColor.fire{background: $fire;}.backgroundColor.flying{background: $flying;}.backgroundColor.ghost{background: $ghost;}.backgroundColor.grass{background: $grass;}.backgroundColor.ground{background: $ground;}.backgroundColor.ice{background: $ice;}.backgroundColor.normal{background: $normal;}.backgroundColor.poison{background: $poison;}.backgroundColor.psychic{background: $psychic;}.backgroundColor.rock{background: $rock;}.backgroundColor.steel{background: $steel;}.backgroundColor.water{background: $water;}

h2
{
  text-transform: uppercase;
}
h2.bug{color: $bug;}h2.dark{color: $dark;}h2.dragon{color: $dragon;}h2.electric{color: $electric;}h2.fairy{color: $fairy;}h2.fighting{color: $fighting;}h2.fire{color: $fire;}h2.flying{color: $flying;}h2.ghost{color: $ghost;}h2.grass{color: $grass;}h2.ground{color: $ground;}h2.ice{color: $ice;}h2.normal{color: $normal;}h2.poison{color: $poison;}h2.psychic{color: $psychic;}h2.rock{color: $rock;}h2.steel{color: $steel;}h2.water{color: $water;}

p.bug{color: $white}p.dark{color: $black}p.dragon{color: $black}p.electric{color: $white}p.fairy{color: $white}p.fighting{color: $white}p.fire{color: $white}p.flying{color: $white}p.ghost{color: $black}p.grass{color: $white}p.ground{color: $white}p.ice{color: $white}p.normal{color: $white}p.poison{color: $black}p.psychic{color: $white}p.rock{color: $white}p.steel{color: $black}p.water{color: $white}
h3.bug{color: $white}h3.dark{color: $black}h3.dragon{color: $black}h3.electric{color: $white}h3.fairy{color: $white}h3.fighting{color: $white}h3.fire{color: $white}h3.flying{color: $white}h3.ghost{color: $black}h3.grass{color: $white}h3.ground{color: $white}h3.ice{color: $white}h3.normal{color: $white}h3.poison{color: $black}h3.psychic{color: $white}h3.rock{color: $white}h3.steel{color: $black}h3.water{color: $white}

h1
{
  font-size: 1.2rem;
  font-weight: 400;
}

.abilitiesBox .abilityBox{
  margin: 0 0 10px;
}
.abilitiesBox .abilityBox p{
  margin: 0;
  font-weight: 600;
}
.abilitiesBox .abilityBox .hiddenAbility{
  color: $darkGray;
  font-style: italic;
  opacity: 0.5;
}

.statsContent{
  display: flex;
  flex-direction: row;
}

.stats{
  width: 80%;
  margin: 5%;
}

.stats .stats-container .stats-wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stats .stats-container .stats-wrapper h3
{
  font-size: 0.8em;
  font-weight: normal;
  width: 40px;
}

.progressBar{
  display: block;
  width: 100%;
  height: 10px;
}

.progressBar .percent{
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #55555544;
  overflow: hidden;
}

.progressBar .percent .progress{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  //background-image: linear-gradient(to right, rgba(255,255,255,0.1), rgba(0,0,0,0.1)) !important;
  animation: animate 0.5s ease-in-out forwards;
}

@keyFrames animate
{
  from
  {
    width: 0;
  }
}

.sideInfos{
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 5%;
}
