$black    : #1F1F1F;
$midBlack : #353535;
$darkGray : #535353;
$lightGray: #CACACA;
$white    : #F5F5F5;

$bug      : #8CB230;
$dark     : #58575F;
$dragon   : #0F6AC0;
$electric : #FFCE4B;
$fairy    : #FE55A6;
$fighting : #FF3850;
$fire     : #FF8C38;
$flying   : #748FC9;
$ghost    : #556AAE;
$grass    : #39E23F;
$ground   : #DD7748;
$ice      : #61CEC0;
$normal   : #9DA0AA;
$poison   : #9F5BBA;
$psychic  : #EA5D60;
$rock     : #BAAB82;
$steel    : #417D9A;
$water    : #4BC9FF;

.backgroundColor.bug{background: $bug;}.backgroundColor.dark{background: $dark;}.backgroundColor.dragon{background: $dragon;}.backgroundColor.electric{background: $electric;}.backgroundColor.fairy{background: $fairy;}.backgroundColor.fighting{background: $fighting;}.backgroundColor.fire{background: $fire;}.backgroundColor.flying{background: $flying;}.backgroundColor.ghost{background: $ghost;}.backgroundColor.grass{background: $grass;}.backgroundColor.ground{background: $ground;}.backgroundColor.ice{background: $ice;}.backgroundColor.normal{background: $normal;}.backgroundColor.poison{background: $poison;}.backgroundColor.psychic{background: $psychic;}.backgroundColor.rock{background: $rock;}.backgroundColor.steel{background: $steel;}.backgroundColor.water{background: $water;}

h2
{
  text-transform: uppercase;
}
h2.bug{color: $bug;}h2.dark{color: $dark;}h2.dragon{color: $dragon;}h2.electric{color: $electric;}h2.fairy{color: $fairy;}h2.fighting{color: $fighting;}h2.fire{color: $fire;}h2.flying{color: $flying;}h2.ghost{color: $ghost;}h2.grass{color: $grass;}h2.ground{color: $ground;}h2.ice{color: $ice;}h2.normal{color: $normal;}h2.poison{color: $poison;}h2.psychic{color: $psychic;}h2.rock{color: $rock;}h2.steel{color: $steel;}h2.water{color: $water;}

p.bug{color: $white}p.dark{color: $black}p.dragon{color: $black}p.electric{color: $white}p.fairy{color: $white}p.fighting{color: $white}p.fire{color: $white}p.flying{color: $white}p.ghost{color: $black}p.grass{color: $white}p.ground{color: $white}p.ice{color: $white}p.normal{color: $white}p.poison{color: $black}p.psychic{color: $white}p.rock{color: $white}p.steel{color: $black}p.water{color: $white}

h1
{
  font-size: 1.2rem;
  font-weight: 400;
}

.abilitiesBox{
  display: flex;
  flex-direction: row;
  margin: 0 0 12px;
}

.abilitiesBox .abilityBox{
    display: flex;
    flex-direction: row;
    border-radius: 50px;
    text-align: center;
    align-items: center;
    margin: auto;
    min-height: 40px;
    padding: 6px 2px;
    background-color: #53535377;
    border: 2px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
}
.abilitiesBox .abilityBox p{
  font-weight: 600;
  margin: auto 12px;
}

.abilitiesBox .abilityBox:has(.hiddenAbility.bug){border: 2px solid $bug;}.abilitiesBox .abilityBox:has(.hiddenAbility.dark){border: 2px solid $dark;}.abilitiesBox .abilityBox:has(.hiddenAbility.dragon){border: 2px solid $dragon;}.abilitiesBox .abilityBox:has(.hiddenAbility.electric){border: 2px solid $electric;}.abilitiesBox .abilityBox:has(.hiddenAbility.fairy){border: 2px solid $fairy;}.abilitiesBox .abilityBox:has(.hiddenAbility.fighting){border: 2px solid $fighting;}.abilitiesBox .abilityBox:has(.hiddenAbility.fire){border: 2px solid $fire;}.abilitiesBox .abilityBox:has(.hiddenAbility.flying){border: 2px solid $flying;}.abilitiesBox .abilityBox:has(.hiddenAbility.ghost){border: 2px solid $ghost;}.abilitiesBox .abilityBox:has(.hiddenAbility.grass){border: 2px solid $grass;}.abilitiesBox .abilityBox:has(.hiddenAbility.ground){border: 2px solid $ground;}.abilitiesBox .abilityBox:has(.hiddenAbility.ice){border: 2px solid $ice;}.abilitiesBox .abilityBox:has(.hiddenAbility.normal){border: 2px solid $normal;}.abilitiesBox .abilityBox:has(.hiddenAbility.poison){border: 2px solid $poison;}.abilitiesBox .abilityBox:has(.hiddenAbility.psychic){border: 2px solid $psychic;}.abilitiesBox .abilityBox:has(.hiddenAbility.rock){border: 2px solid $rock;}.abilitiesBox .abilityBox:has(.hiddenAbility.steel){border: 2px solid $steel;}.abilitiesBox .abilityBox:has(.hiddenAbility.water){border: 2px solid $water;}

.abilitiesBox .abilityBox .hiddenAbility{
    height: 20px;
    width: 20px;
    margin-right: 10px;
}

.hiddenAbility.bug{filter: invert(100%);}.hiddenAbility.electric{filter: invert(100%);}.hiddenAbility.fairy{filter: invert(100%);}.hiddenAbility.fighting{filter: invert(100%);}.hiddenAbility.fire{filter: invert(100%);}.hiddenAbility.flying{filter: invert(100%);}.hiddenAbility.grass{filter: invert(100%);}.hiddenAbility.ground{filter: invert(100%);}.hiddenAbility.ice{filter: invert(100%);}.hiddenAbility.normal{filter: invert(100%);}.hiddenAbility.psychic{filter: invert(100%);}.hiddenAbility.rock{filter: invert(100%);}.hiddenAbility.water{filter: invert(100%);}

.statsContent{
  display: flex;
  flex-direction: row;
}

.stats{
  width: 80%;
  margin: 1%;
}

.stats .stats-wrapper{
  margin-bottom: 5px;
}

.stats .stats-container .stats-wrapper
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.stats .stats-container .stats-wrapper p
{
  margin: 0;
  font-size: 0.8em;
  font-weight: normal;
  width: 40px;
}

.progressBar{
  display: block;
  width: 100%;
  height: 10px;
}

.progressBar .percent{
  position: relative;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #55555544;
  overflow: hidden;
}

.progressBar .percent .progress{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  border-radius: 5px;
  //background-image: linear-gradient(to right, rgba(255,255,255,0.1), rgba(0,0,0,0.1)) !important;
  animation: animate 0.5s ease-in-out forwards;
}

@keyFrames animate
{
  from
  {
    width: 0;
  }
}
