.search
{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.search h1
{
  color: #F5F5F5;
  margin: 0.5%;
}

.search p
{
  color: #CACACA;
  margin: 0.5%;
}

.search .bar{
  margin: 0.5%;
}

.pokemonGridItems
{
  position :relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}
