<div class="content">
  <div class="search">
    <h1>Pokedex</h1>
    <p>Search for Pokemon by name.</p>
    <input (keyup)="onKey($event)" class="bar">
    <input type="checkbox" class="checkbox" [checked]="listDisplay" (change)="listDisplay = !listDisplay">
  </div>


  <div *ngIf="listDisplay" class="pokemonListItems"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="500"
       (scrolled)="onScroll()"
       [scrollWindow]="false">
    <div *ngFor="let pokemon of filteredPokemonList">
      <app-pokemon-list-item [pokemon]="pokemon"></app-pokemon-list-item>
    </div>
  </div>

  <div *ngIf="!listDisplay" class="pokemonGridItems"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="500"
    (scrolled)="onScroll()"
    [scrollWindow]="false">
    <div *ngFor="let pokemon of filteredPokemonList">
      <app-pokemon-grid-item [pokemon]="pokemon"></app-pokemon-grid-item>
    </div>
  </div>

  <div *ngIf="isLoading">Loading...</div>






  <!--div class="pokemonGridItems">
    <div *ngFor="let pokemon of filteredPokemonList">
      <app-pokemon-grid-item [pokemon]="pokemon"></app-pokemon-grid-item>
    </div>
  </div-->
</div>
