$black: #1F1F1F;
$midBlack: #353535;
$darkGray: #535353;
$lightGray: #CACACA;
$white: #F5F5F5;

/*.content{
  margin-top: 10em;
}*/

.search
{
  position: fixed;
  left: 5%;
  top: 7em;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  position: fixed;
  width: 90%;
  z-index: 2;
  box-shadow: 20px 20px 50px #0000001a;
  border-radius: 15px;
  background: rgba(83,83,83,.2);
  border-top: 1px solid rgba(83,83,83,.5);
  border-left: 1px px solid rgba(83,83,83,.5);
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
}

.search h1
{
  color: $white;
  margin: 0.5%;
  font-size : 1.7em;
  font-weight: 400;
  line-height: 32px;
}

.search p
{
  color: $lightGray;
  margin: 0.5%;
}

.search .bar{
  margin: 0.5%;
  max-width: 501px;
  height: 25px;
  border-radius: 5px;
  border:none;
  outline:none;
}


//CheckBox
.search .checkboxContainer{
  margin: 1.5% 1%;
  position: relative;
  cursor: pointer;
  background: transparent;
  transition: .7s;
}

// Hide default Checkbox
.search .checkboxContainer .checkbox{
  display: none;
  appearance: none;
}

.search .checkboxContainer span{
  position: relative;
  display: block;
  width: 4em;
  height: 2em;
  border: 2px solid rgba(255,255,255,0.9);
  border-right: 2px solid rgba(255,255,255,0.5);
  border-bottom: 2px solid rgba(255,255,255,0.5);
  box-shadow: 4px 4px 10px solid rgba(0,0,0,0.1);
  background: rgba(255,255,255,0.1);
  border-radius: 80px;
  transition: .7s;
  backdrop-filter: blux(3px);
}

.search .checkboxContainer .indicator{
  position: absolute;
  top: 0;
  left: 0;
  width: 2em;
  height: 2em;
  background: $white;
  border-radius: 2em;
  transition: .7s;
}

.search .checkboxContainer .indicator img{
  height: 1.1em;
  margin: 0.5em;
}

.search .checkboxContainer .checkbox:checked ~ .indicator{
  box-shadow: 0 0 5px $white;
  left: 2em;
}

.search .checkboxContainer .checkbox:checked ~  .indicator img{
  content: url("/assets/images/grid.png");
}

.search .checkboxContainer .checkbox:checked ~ span{
  background: rgba(255,255,255,0.5);
}
//End Checkbox



.pokemonGridItems
{
  position :relative;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;

  max-height: 100vh;
  padding-top: 24em;
  overflow: auto;

  //remove scrollbar
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.pokemonListItems
{
  position :relative;
  z-index: 0;
    //background: #fff;
  padding: 2rem;

  max-height: 100vh;
  padding-top: 24em;
  overflow: auto;

  //remove scrollbar
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */

  overflow: auto;
  //no horizontal scroll
  overflow-x: hidden;
}


//remove scrollbar
.pokemonGridItems::-webkit-scrollbar {
  display: none;
}

/*RESPONSIVE*/
@media (max-width: 1000px)
{

  .search
  {
    //TODO PHONE ONLY
    box-shadow: none;
    border-radius: 15px;
    background: $midBlack;
    border-top: 1px solid $darkGray;
    border-left: 1px solid $darkGray;
  }

  .pokemonGridItems
  {
    padding-top: 20em;
    padding-bottom: 6em;
    }
}
